__pycache__/__init__.cpython-310.pyc
__pycache__/animationporting.cpython-310.pyc
__pycache__/lib_qc.cpython-310.pyc
__pycache__/rpak.cpython-310.pyc
__pycache__/shader.cpython-310.pyc
__pycache__/material_management_panel.cpython-310.pyc
test.py
__pycache__/addon_updater_ops.cpython-310.pyc
__pycache__/addon_updater.cpython-310.pyc
perimeter_updater/Perimeter_updater_status.json
.vs/VSWorkspaceState.json
.vs/Perimeter/v17/.wsuo
__pycache__/ioUtils.cpython-310.pyc
__pycache__/mdl_structs.cpython-310.pyc
__pycache__/qc_management_panel.cpython-310.pyc
__pycache__/qcparse.cpython-310.pyc
current_progress.txt
animationporting.py
__pycache__/lib_pma.cpython-310.pyc
